#!/usr/bin/make -f
INSTALL = install

clean:
	dh_testdir
	dh_testroot
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	make build

	install -d -m 755 $(CURDIR)/debian/safekeep-common/usr/bin
	install -d -m 755 $(CURDIR)/debian/safekeep-common/usr/share/man/{man1,man5}
	install -m 755 safekeep $(CURDIR)/debian/safekeep-common/usr/bin
	install -m 755 doc/safekeep.1 $(CURDIR)/debian/safekeep-common/usr/share/man/man1
	install -m 755 doc/safekeep.conf.5 $(CURDIR)/debian/safekeep-common/usr/share/man/man5
	install -m 755 doc/safekeep.backup.5 $(CURDIR)/debian/safekeep-common/usr/share/man/man5

	install -d -m 755 $(CURDIR)/debian/safekeep-server/etc/safekeep/clients.d
	install -m 755 safekeep.conf $(CURDIR)/debian/safekeep-server/etc/safekeep
	install -d -m 755 $(CURDIR)/debian/safekeep-server/etc/cron.daily
	install -m 755 safekeep.cron $(CURDIR)/debian/safekeep-server/etc/cron.daily/safekeep

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_compress
	dh_fixperms
	dh_pysupport
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary install
